
/* Additional styles for the slidy html presentations */

/* --------------
I tried to avoid the dependent selector syntax because I read its inefficient, without success.
Selectors that didn't work
  pre.compact
  .compact > pre
------------ */

/* Dependent selectors here */

.compact pre {
  font-weight: normal;
  font-size: 70%;
  line-height: 110%;
}
.compact li {
  line-height: 80%;
  margin-left: 2em;
}

.centerblock {
  text-align:center;
  margin: 0 auto;
}
div.colleft {
    float:left;
    width:48%; 
    border: 0px;
}
div.colright {
    float:right;
    width:48%; 
    border: 0px;
}
div.colclear { 
   clear: both;
}
.titlefix {
  color: blue;
}
.hrdivider {
  width:70%;
  height:5px;
  margin-top:1em;
}
.indented1 {
  margin-left:1em;
}
.indented2 {
  margin-left:2em;
}
.indented3 {
  margin-left:3em;
}
.indented4 {
  margin-left:4em;
}
div.bigcheck {
  font-size:180%;
  color:#32CD32;
  margin-left:0.2em;
}
div.bigx {
  font-size:180%;
  color:red;
  margin-left:0.2em;  
}
div.textbox {
  margin-left:2.5em;
  margin-right:2.5em;
  font-size:85%; 
  border: 3px solid red;
  padding:0.2em;
  background-color: white;
}
div.spaceafter {
  margin-bottom: 1.5em;
}
.pres-title {
  font-size:52px;;
  font-weight:bold;
  line-height: normal;
  color:#008040;
}
.pres-subtitle {
  font-size:40px;
  font-weight:bold;
  color:navy;
}
.ex-title {
  font-size:75%;
  font-weight:bold;
  color:#008040;
}
.ex-subtitle {
  font-weight:bold;
}
.answer-code {
  display: none;
}
.answer-code > p {
  color: MidnightBlue;
}
.hint {
  display: none;
  margin: 1em 2em;
  background-color: whiteSmoke;
  padding: 0 0.5em;
  border: 2px solid DarkSeaGreen;
}
span.tritoggle {
  font-size: 120%;
  text-decoration: none;
  color: DarkBlue;
  cursor: pointer;
}
span.sessiontitle {
  color: DarkBlue;
}
span.textlink {
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-style: dotted;
  color:#008040;
  font-size: 90%;
  cursor: pointer; 
}

a.showhidelink {
  font-weight:bold;
  text-decoration: none;
}
a.showhidehint {
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-style: dotted;
  color:#008040;
  font-size: 90%;
  margin-left: 0.2em;
}
a.showhidehint::before {
  content: "[hint]";
  text-decoration: none;
  color:#008040;
}
a.closediv {
  margin-left:2em;
}
.easy-read-url {
  font-size:110%;
  font-weight:bold;
  color:darkblue;
  font-family:monospace;
}
h1 {
  font-size:180%;
  font-weight: bold;
}
h2 {
  margin-left: 32px;
  font-size:130%;
  font-weight: bold;
  color: Navy;
}
h3 {
  font-size:110%;
  font-weight: bold;
  color: brown;
}
pre > code {
  font-weight: normal;
  font-size: 80%;
}
td {
  border: 1px dotted grey;
}
.footer-right {
  margin:0 2em;
  float:right;
}
.footer-subtitle {
  color:#008040;
  margin-left: 1em;
}
pre.scrolling-code {
 margin:1em 2em;
 font-size:75%;
 font-weight: normal;
 overflow:scroll;
 border: 1px solid black;
 background-color: WhiteSmoke;
 color: black;
}
.argument {
  color: #902000;
  font-family: monospace;
  font-weight: normal;
}

/* ======== No longer used ==============
a.showhidelink::before {
  content: "[";
}
a.showhidelink::after {
  content: ".";
}
.pasteboard {
  color: DarkBlue;
  display: none;
  margin-left: 2em;
  font-family: monospace;
  border-bottom: 1px dotted;
}

======================================= */
