/* Additional styles for the slidy html presentations */

/* --------------
I tried to avoid the dependent selector syntax because I read its inefficient, without success.
Selectors that didn't work
  pre.compact
  .compact > pre
------------ */

/* Dependent selectors here */

.compact pre {
  font-weight: normal;
  font-size: 70%;
  line-height: 110%;
}
.compact li {
  line-height: 80%;
  margin-left: 2em;
}

.centerblock {
  text-align:center;
  margin: 0 auto;
}
div.colleft {
    float:left;
    width:48%; 
    border: 0px;
}
div.colright {
    float:right;
    width:48%; 
    border: 0px;
}
div.colclear { 
   clear: both;
}
.titlefix {
  color: blue;
}
.copy-button {
  text-align:center; 
  margin:1em 0em;
}
.hrdivider {
  background-color: #008040;
  border: 0 none;
  color: #008040;
  height: 3px;
  width:70%;
  margin-top:1em;
  margin-bottom:0.5em;
}
.indented1 {
  margin-left:1em;
}
.indented2 {
  margin-left:2em;
}
.indented3 {
  margin-left:3em;
}
.indented4 {
  margin-left:4em;
}
div.bigcheck {
  font-size:180%;
  color:#32CD32;
  margin-left:0.2em;
}
div.bigx {
  font-size:180%;
  color:red;
  margin-left:0.2em;  
}
div.textbox {
  margin-left:2.5em;
  margin-right:2.5em;
  font-size:85%; 
  border: 3px solid red;
  padding:0.2em;
  background-color: white;
}

.pres-title {
  font-size:52px;;
  font-weight:bold;
  line-height: normal;
  color:#008040;
}
.pres-subtitle {
  font-size:40px;
  font-weight:bold;
  color:navy;
}
.pres-date {
  font-size: 32px;
  font-weight:normal;
  color:black;
}
div.ex-qtn {
  font-family:monospace;
}
.ex-title {
  font-size:75%;
  font-weight:bold;
  color:#008040;
}
.ex-subtitle {
  font-weight:bold;
}
.answer-code {
  display: none;
}
.answer-code > p {
  color: MidnightBlue;
}
.hint {
  display: none;
  margin: 1em 2em;
  background-color: whiteSmoke;
  padding: 0 0.5em;
  border: 2px solid DarkSeaGreen;
}
span.tritoggle {
  font-size: 120%;
  text-decoration: none;
  color: DarkBlue;
  cursor: pointer;
}
span.sessiontitle {
  color: DarkBlue;
}
span.textlink {
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-style: dotted;
  color:#008040;
  font-size: 90%;
  cursor: pointer; 
}

a.showhidelink {
  font-weight:bold;
  text-decoration: none;
}
a.showhidehint {
  font-weight: lighter;
  text-decoration: underline;
  text-decoration-style: dotted;
  color:#008040;
  font-size: 90%;
  margin-left: 0.2em;
}
a.showhidehint::before {
  content: "[hint]";
  text-decoration: none;
  color:#008040;
}
a.closediv {
  margin-left:2em;
}
.easy-read-url {
  font-size:110%;
  font-weight:bold;
  color:darkblue;
  font-family:monospace;
}
h1 {
  font-size:180%;
  font-weight: bold;
}
.faux-h1 {
  font-size: 160%;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 14.933px;
  line-height: 35.84px;
}
h2 {
  margin-left: 32px;
  font-size:130%;
  font-weight: bold;
  color: Navy;
}
h3 {
  font-size:110%;
  font-weight: bold;
  color: brown;
}
pre > code {
  font-weight: normal;
  font-size: 80%;
}
.footer-right {
  margin:0 2em;
  float:right;
}
.footer-subtitle {
  color:#008040;
  margin-left: 1em;
}
pre.nofrills {
  font-weight: normal;
  border: none;
  background-color: white;
  color: black;
 
}
pre.scrolling-code {
  margin:1em 2em;
  font-size:75%;
  font-weight: normal;
  overflow:scroll;
  border: 1px solid black;
  background-color: WhiteSmoke;
  color: black;
}
.argument {
  color: #902000;
  font-family: monospace;
  font-weight: normal;
}

.tbl_compact {
  border-collapse: collapse;
}
.tbl_compact td, .tbl_compact th {
  padding: 10px 50px;
  border-bottom:1px solid gray;
  color: black;
}
.tbl_compact td {
  font-size: 100%;
}
.tbl_compact th {
  background-color: #dddddd;
}
.tbl_compact tr:nth-child(even) {
  background-color: #dddddd;
}
li.exercises {
  margin-left: 4em;
  list-style: none;
  font-size: 120%;
}
li.exercises:before {
  content: '\1F4D3';
  text-decoration: none;
}
a.exercises {
  font-weight:normal;
  font-family:monospace;
}
li.slides {
  margin-left: 2em;
  list-style: none;
  font-size: 120%;
}
li.slides:before {
  content: '\20E2';
  text-decoration: none;
  margin-right: 1em;
}

/* ======== No longer used ==============
td {
  border: 1px dotted grey;
  border-top:1px solid #e5eff8;
  border-right:1px solid #e5eff8;
  border-collapse:collapse;
}
a.showhidelink::before {
  content: "[";
}
a.showhidelink::after {
  content: ".";
}
.pasteboard {
  color: DarkBlue;
  display: none;
  margin-left: 2em;
  font-family: monospace;
  border-bottom: 1px dotted;
}

======================================= */
